* {
    transition: all, 0.5s;
}

body {
    background-color: rgb(5, 1, 47);
    color: gold;
    font-size: 20px;
    position: relative;
}

.My-container {
    width: 95%;
    margin: 40px auto;
    border: 2px solid white;
    padding: 60px 40px;
}

.table {
    color: gold;
    margin: 0px !important;
}

tr {
    border: 1px solid;
}

.header h1 {
    text-align: center;
    margin-top: 45px;
}

#main-btn {
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    margin-top: 10px;
}

.form-label {
    margin: 10px 0px 3px;
}

#Product-Name {
    font-size: 20px;
}

.all-form input {
    width: 100%;
    display: block;
    height: 3.5vh;
    border: 2px orangered solid;
    border-radius: 5px;
}

.all-form textarea {
    border: 2px orangered solid;
    border-radius: 5px;
}

.all-form {
    border: 2px solid white;
    padding: 25px;
    font-size: 20px;
}

.table {
    margin: 35px auto;
    text-align: center;
}

.div-error {
    margin: 0px 0px 5px 10px;
    width: 35%;
    display: none;
    padding: 15px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    z-index: 9999;
    position: absolute;
    top: -30px;
}

.content_of_error {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-error p {
    margin: 0px;
}

.content_of_error button {
    border: none;
    padding: 0px 25px;
    border-radius: 7px;
    background: orangered;
}

.div-table {
    padding-top: 30px;
}

.mobile_table {
    display: none;
    text-align: center;
}

@media (max-width:1024px) {
    .table {
        margin-top: 5px !important;
    }
    .big-table {
        padding: 0px !important;
    }
}


/* @media (max-width:430px) {
    .mobile_table {
        display: block !important;
    }
    .table {
        display: none !important;
    }
} */